* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

.header {
    background-color: rgb(53, 53, 53);
    text-align: center;
    padding: 20px 0px;
}

.header img {
    width: 100px;
}

.stats {
    margin-top: 50px;
}

.stats h3 {
    text-align: center;
}

.stats img {
    width: 100%;
}
